<div class="jumbotron">
    <h1>CIR</h1>
    <p class="lead">Centro Integrado de Reciclagem</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>Aqui está todo o serviço de nossa aplicação e os componentes que podem ser utilizados!</p>
    </div>
</div>
