<?xml version="1.0" encoding="utf-8"?>
<!--
Este arquivo é usado pelo processo empacotar/publicar do seu projeto Web. É possível personalizar o comportamento desse processo
ao editar esse arquivo MSBuild. Para saber mais sobre isso, acesse http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cirapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cirapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cirapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$cirapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ContextoDeAutenticacao" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:diegomiguel.database.windows.net,1433;Initial Catalog=cirDb;User ID=dizrtt@diegomiguel;Password=!F#Win-@898119" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CirWebApi.Models.ContextoDeAutenticacao, CirWebApi" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CIREntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:diegomiguel.database.windows.net,1433;Initial Catalog=cirDb;User ID=dizrtt@diegomiguel;Password=!F#Win-@898119" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CirWebApi.Models.CIREntities, CirWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:diegomiguel.database.windows.net,1433;Initial Catalog=cirDb;User ID=dizrtt@diegomiguel;Password=!F#Win-@898119" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CirWebApi.Models.ApplicationDbContext, CirWebApi" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CIREntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CirModel.csdl|res://*/Models.CirModel.ssdl|res://*/Models.CirModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:diegomiguel.database.windows.net,1433;Initial Catalog=cirDb;User ID=dizrtt@diegomiguel;Password=!F#Win-@898119"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContextoDeAutenticacao-Web.config Connection String">
      <ParameterValue>Data Source=tcp:diegomiguel.database.windows.net,1433;Initial Catalog=cirDb;User ID=dizrtt@diegomiguel;Password=!F#Win-@898119</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:diegomiguel.database.windows.net,1433;Initial Catalog=cirDb;User ID=dizrtt@diegomiguel;Password=!F#Win-@898119</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>